.env
.env.local
.env.development
.env.production

# Python
__pycache__/
*.py[cod]
*.class

# Ambientes virtuais
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Sistema
.DS_Store
Thumbs.db

# Arquivos sensíveis
Senhas.txt
