
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pedro Sarmento</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <table cellspacing="20">
      <tr>
        <td><img src="static\pedro.png" alt="foto de perfil pedro" height="180" width="180"></td>
        <td><h1>Pedro Sarmento</h1>
        <p><em>Quem eu sou</a></strong>.</em></p>
        <p>O que eu faço</p></td>
      </tr>
    </table>
    <hr>
    <h3>Certificados</h3>
    <ul>
      <li>Certificado 1</li>
      <li>Certificado 2</li>
    </ul>
    <hr>
    <h3>Experiência de Trabalho</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Anos</th>
          <th>Trabalho</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2009-2010</td>
          <td>Trocar</td>
        </tr>
        <tr>
          <td>2010-2013</td>
          <td>Trocar</td>
        </tr>
        <tr>
          <td>2013-2015</td>
          <td>Trocar</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Habilidades</h3>
    <table cellspacing="10">
      <tr>
        <td>Automação</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Python</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>Programming</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Photography</td>
        <td>⭐️⭐️</td>
      </tr>
    </table>
    <hr>
    <a href="hobbies.html">My Hobbies</a>
    <a href="contact-me.html">Contact Me</a>
  </body>
</html>
